# --- CONFIGURATION  DE POSTGRES  ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_HOST=

# --- CONFIGURATION  DE PGADMIN  ---
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5051

# --- CONFIGURATION DE AIRBYTE ---
AIRBYTE_USERNAME=
AIRBYTE_PASSWORD=
AIRBYTE_PORT=8000
LOCAL_ROOT=

# --- CONFIGURATION AIRFLOW ---

# --- CONFIGURATION DE DBT ---


