# --- CONFIGURATION  DE POSTGRES  ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_HOST=

# --- CONFIGURATION  DE PGADMIN  ---
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5051

# --- CONFIGURATION DE AIRBYTE ---
AIRBYTE_USERNAME=
AIRBYTE_PASSWORD=
AIRBYTE_PORT=8000
LOCAL_ROOT=

# --- CONFIGURATION AIRFLOW ---
AIRFLOW_PORT=8080
AIRFLOW_SECRET=
GMAIL_USER=
GMAIL_PASS=
ALERT_TO=

# --- CONFIGURATION DE dbt ---

# --- CONFIGURATION DE Data/ ---
Data_filder=data/raw
FILES_URL=http://localhost:8001
